@model Task1.Models.Story
@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <div id="content" class="embed-responsive embed-responsive-4by3">
            <iframe id="iframe" embed-responsive-item src="/jgraph/examples/grapheditor/www/index.html"></iframe>
        </div>
    </div>

@* Initialize Variables for the javascript file below *@
    <script>
        var diagram = '@Html.Raw(Model.diagram)';
        var diagramName = "story" + @Model.id + "_diagram.xml"
        var storyId = '@Model.id';
    </script>

    <script src="~/Scripts/diagram-ajax.js"></script>
