@model Task1.Models.Story
@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <div id="content" class="embed-responsive embed-responsive-4by3">
            <iframe id="iframe" embed-responsive-item src="/jgraph/examples/grapheditor/www/index.html"></iframe>
        </div>
    </div>
<script>
    var diagram = '@Html.Raw(Model.diagram)';
    var diagramName = "story" + @Model.id + "_diagram.xml"
    if (diagram != "") {
        localStorage.setItem(diagramName, diagram);
    } 

    window.onstorage = (event) => {
        console.log(event);
        // Delete diagram from DB
        if (event.newValue == null) {
            $.ajax({
                type: "POST",
                url: "/Diagram/Delete",
                data: { id: '@Model.id' },
                success: function (response) {
                    if (response != null) {
                        localStorage.removeItem(event.key);
                        alert("Drawing deleted!");
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            return;
        }



        newDiagram = event.newValue;
        //Save Diagram to DB
        $.ajax({
            type: "POST",
            url: "/Diagram/Create",
            data: {id: '@Model.id', diagramXML: newDiagram},
            success: function (response) {
                if (response != null) {
                    localStorage.removeItem(event.key);
                    location.reload();
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };

    // Delete diagram from local storage when user leaves the page
    window.onbeforeunload = () => localStorage.removeItem(diagramName);
</script>
